.blog-div{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    position: relative;
    opacity: 0;
   transform: translateY(40px); 
   transition: all 2s ease-out;
}
.blog-div.show {
  opacity: 1;
  transform: translateY(0);
}

.blog-heading{
    font-family: "oxanium";
    font-weight: 600;
    color: white;
    width: 50%;
    margin-top: -10px;
  

}
.blog-heading p{
    color: blueviolet;
    display: inline;
}
.blog-paragraph{
    color: white;
    font-size: 15px;
    font-family: 'oxanium';
    margin-top: 7px;
}
.blog-paragraphs{
    color: white;
    font-size: 15px;
    font-family: 'oxanium';
    margin-top: -12px;

}