.blogbox-container{
    margin: 0%;
    padding: 0%;

}
.blogbox-fullwidth{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}
.images-in{
    width: 100%;
    height: 100%;
    
}
.first-box-in{
     background-color: rgb(28, 8, 76);
     margin-top: 30px;
}
.blogbox-small-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'oxanium';
    color: aliceblue;
}
.blogbox-heading{
    color: aliceblue;
    font-family: 'oxanium';
    font-weight: 700;
    font-size: 22px;

}
.blogbox-desc{
    color: aliceblue;
    font-family: 'oxanium';
}
.search-inputbox{
     background-color: rgb(8, 7, 72);
     border: none ;
     padding: 18px;
}
.categorie-flex{
    display: flex;
    justify-content: space-between;
    margin-top: -30px;

}
.categorie-list{
    word-spacing: 1.7px;

}
.categorie-num{
    background-color: blueviolet;
    padding: 8px;
        clip-path: polygon(0% 0%, 80% 0, 100% 20%, 100% 100%, 0 100%);
}
.blogbox-btn{
    color: aliceblue;
    background-color: rgba(36, 12, 77,0.7);
    border: none;padding: 8px;
    margin-left: 10px;
    margin-top: 10px;
}
.blogbox-pages{
        background-color: rgba(152, 65, 255, 0.3);
    padding: 9px;
    color: white;
    margin-left:14px ;
    clip-path: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
}
.blogbox-pages:hover{
    background-color: blueviolet;
}
.blogbox-pages1{
        background-color: rgba(152, 65, 255, 0.3);
    padding: 14px;
    color: white;
    margin-left:14px ;
    clip-path: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
}
.blogbox-pages1:hover{
    background-color: blueviolet;
}