.cursor-dot {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: hsla(271, 90%, 60%, 0.4); 
  pointer-events: none;
  transform: translate(0%, 0%);
  z-index: 9999;
}
