.main-div{
   margin: 0%;
   padding: 0%;
   width: 100%;
}
.main-div-width{
    margin-top: 70px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
}
.first-container {
  gap: 0; 
  font-family: 'oxanium';
}


@media (min-width: 900px) {
  .first-container {
    gap: 40px;
  }
}
.first-box{
       clip-path: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
        padding: 5px;
        position: relative;
        margin-left: 40px;
        width: auto;
               color: white;
         background: linear-gradient( 165deg,hsla(300, 100%, 51%,0.4),hsla(280, 96%, 50%,0.4),hsla(251, 94%, 49%,0.4),hsla(206, 93%, 76%, 0.4));
}
@media (min-width: 1100px) {
  .first-box {
    width: 320px;
  }
}
.second-box{
    clip-path: polygon(0 40%, 10% 0, 100% 0, 100% 100%, 0 100%);
        padding: 5px;
        position: relative;
        color: white;
         background: linear-gradient( 165deg,hsla(300, 100%, 51%,0.4),hsla(280, 96%, 50%,0.4),hsla(251, 94%, 49%,0.4),hsla(206, 93%, 76%, 0.4));

        width: auto;

}
@media (min-width: 1100px) {
  .second-box {
    width: 320px;
  }
}
.image1{
    position: absolute;
    z-index: 2;
    margin-top: -20px;
    margin-left: -50px;
    height: 120px;
}
@media (max-width: 380px) {
  .image1 {
    height: 100px;
    margin-left: -20px;
    
  }
}
.image2{
    position: absolute;
    z-index: 2;
    height: 130px;
      margin-left: 19%;
    margin-top: -10px;

}
@media (max-width: 795px) {
  .image2 {
    height: 100px;
    margin-left: 180px
  }
}



.title1{
    font-weight: 600;
    line-height: 1.7;
    padding-left: 30px;
    

}
@media (min-width: 987px) {
  .title1 {
    font-size: 20px;
    padding-top: -5px;
  }
}
.title2{
    padding-right: 60px;
    font-weight: 600;
    line-height: 1.7;
}
@media (min-width: 988px) {
  .title2 {
    font-size: 20px;

  }
}
.first-groupfour-box{
    background: linear-gradient( 165deg,rgb(255, 4, 255),hsl(280, 96%, 50%),rgb(50, 8, 240),rgb(86, 178, 248));
    padding: 3px;
    color: white;
    padding-left: 8px;
    clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
    margin-left: 80px;
    width: 58%;
    font-size: 14px;
    margin-top: -7px;
}
.second-groupfour-box{
    color: white;
    background: linear-gradient( 165deg,rgb(255, 4, 255),hsl(280, 96%, 50%),rgb(50, 8, 240),rgb(86, 178, 248));
    clip-path: polygon(0 0, 100% 0, 100% 60%, 90% 100%, 0 100%);
    margin-left: 27px;
    padding: 3px;
    padding-left: 8px;
    width: 60%;
    font-size: 14px;
    margin-top: -7px;
}


