.slider-wrappers {
  width: 90%;
  font-family: 'oxanium';
padding-top: 80px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
}


.slider-track-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.slider-track-scroll::-webkit-scrollbar {
  display: none;
}

.card {
  background: #0b0c2a;
  border-radius: 10px;
  padding: 12px;
  transition: 0.3s;
  position: relative;
  margin: 0 12px;
  flex: 0 0 23%;
  min-width: 250px;
  color: white;
}

.img-boxs {
  position: relative;
  background: #0f1136;
  border-radius: 10px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.prod-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none;
}

.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 4px;
  background: #e74c3c;
  font-weight: bold;
}

.add-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #8e2de2, #4a00e0);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 16px;
  font-size: 14px;
  cursor: pointer;
  display: none;
}

.img-box:hover .add-btn {
  display: block;
}

.info {
  padding: 10px 5px;
}

.cat {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 4px;
}

.title-stars {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 4px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.stars {
  display: flex;
  gap: 3px;
}

.price {
  color: #9b59b6;
  font-weight: 600;
  font-size: 16px;
  margin-top: 6px;
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 20;
  transition: 0.3s;
}

.arrow.left {
  left: -30px;
}

.arrow.right {
  right: -30px;
}



@media (max-width: 900px) {
  .card {
    flex: 0 0 45%;
  }
}

@media (max-width: 600px) {
  .card {
    flex: 0 0 80%;
    min-width: 200px;
  }

  .arrow {
    font-size: 20px;
    padding: 6px;
  }
  .arrow.left {
    left: 0px;
  }

  .arrow.right {
    right: 0px;
  }
}
