.football-container{
    margin: 0%;
    padding: 0%;
    width: 100%;
    margin-top: 70px;
}
.football-fullwidth{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.football-content-start{
    margin-top: 25px;
    background-color: hsla(240, 10%, 86%, 0.1);
     clip-path: polygon(0 0, calc(100% - 55px) 0, 100% 35px, 100% 100%, 0 100%);
}
.football-content-start:hover{
    background-color: hsla(240, 20%, 86%, 0.2);

}
.football-img{
    max-width: 300px;
    padding: 18px;
    border-radius: 23px;
}
.football-btn{
    margin-top: 30px;
    height: 35px;
    padding: 14px;
    font-family: 'oxanium';
    padding-left: 40px;
    color: white;
    padding-right: 40px;
    border: none;
    font-weight:700;
    font-size: 14px;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 15px, 100% 100%, 0 100%);

   background: linear-gradient( 165deg,rgb(255, 4, 255),hsl(280, 96%, 50%),rgb(50, 8, 240),rgb(86, 178, 248));
}
.fifa-title{
    font-weight: 700;
    font-size: 32px;
    font-family: 'oxanium';
    color: aliceblue;
    margin-top:8px;

}
.fifa-timing{
    font-size: 16px;
    font-weight: 600;
    font-family: 'oxanium';
    margin-top: -25px;
    color: aliceblue;

}
.football-content-medium{
     margin-top: 15px;
    background-color: hsla(240, 10%, 86%, 0.1);
     clip-path: polygon(0 0, calc(100% - 55px) 0, 100% 35px, 100% 100%, 0 100%);

}
.sm-img{
    max-width: 180px;
    padding: 5px;
    border-radius: 15px;
}
.football-sm-btn{
     margin-top: 10px;
    height: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 110px;
    font-family: 'oxanium';
    color: white;
    border: none;
    font-weight:700;
    font-size: 10px;
    clip-path: polygon(0 0, calc(100% - 13px) 0, 100% 10px, 100% 100%, 0 100%);
    background: linear-gradient( 165deg,rgb(255, 4, 255),hsl(280, 96%, 50%),rgb(50, 8, 240),rgb(86, 178, 248));
}
.fifa-sm-title{
    color: aliceblue;
    font-family: 'oxanium';
    font-size: 17px;
    margin-top: 3px;
}
.fifa-sm-timing{
    color: aliceblue;
    font-size: 13px;
    font-weight: 600;
    margin-top: -10px;
}
.football-content-small{
     margin-top: 10px;
    background-color: hsla(240, 10%, 86%, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

}
.xs-img{
   max-width: 80%;
   padding: 10px;
   border-radius: 15px;
}
.football-xs-btn{
    height: 35px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 110px;
    font-family: 'oxanium';
    color: white;
    border: none;
    font-weight:700;
    font-size: 12px;
    clip-path: polygon(0 0, calc(100% - 13px) 0, 100% 10px, 100% 100%, 0 100%);
    background: linear-gradient( 165deg,rgb(255, 4, 255),hsl(280, 96%, 50%),rgb(50, 8, 240),rgb(86, 178, 248));
}
.fifa-xs-title{
    color: aliceblue;
    font-family: 'oxanium';
    font-size: 22px;
    margin-top: px;
}
.fifa-xs-timing{
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    margin-top: -12px;
}

.content-lines{
        background: linear-gradient(90deg, rgba(152, 65, 255, 0.1) 0%, rgba(152, 65, 255, 1) 50%, rgba(152, 65, 255, 0.1) 100%);
       height: 5px;
       border: none;
       padding: 0px;
       margin: 0;

}