.recent-fullcontainer{
    margin: 0%;
    padding: 0%;
    margin-top: 100px;
}
.recent-fullwidth{
    width: 86%;
    margin-left:7%;
    margin-right: 7%;
}
.view-all-btn{
  height: 54px;
    padding: 20px;
    font-family: 'oxanium';
    padding-left: 40px;
    color: white;
    padding-right: 40px;
    border: none;
    font-weight:700;
    font-size: 14px;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 15px, 100% 100%, 0 100%);

   background: linear-gradient( 165deg,rgb(255, 4, 255),hsl(247, 78%, 73%),rgb(50, 132, 247),rgb(107, 173, 223));
}