.product-container{
    margin: 0%;
    padding: 0%;
    margin-top: 180px;
}
.product-fullwidth{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}
.img-box{
    background-color:rgba(12, 12, 54, 1);
    display: flex;
    height: 100px;
    border:2px solid rgba(152, 65, 255, 0.3);
}
.star-icon{
    color: rgb(217, 141, 0);
}
.steering{
    color: aliceblue;
    font-family:'oxanium';
    font-size: 14px;
    font-weight: bold;
}
.redex-title{
    font-weight: 600;
    color: aliceblue;
    font-family: 'oxanium';
    font-size: 28px;
    margin: 0%;
}
.redux-paragraph{
    color: aliceblue;
    font-family: 'oxanium';
    word-spacing: 3px;
    line-height: 1.7;
}
.input-box-num{
    height: 43px;
    color: aliceblue;
    background-color: rgba(101, 61, 211, 0.3);
    border: none;
}
.add-cart-btn{
    padding: 14px;
    padding-right: 30px;
    padding-left: 25px;
    margin-left: 25px;
    border: none;
    font-family: 'oxanium';
    font-weight: 600;
    color: white;
    background: #f90cff;
    background-image: linear-gradient(to right bottom, #f90cff, #e027ff, #c534ff, #a93eff, #8a44ff, #6560ff, #3c73ff, #0081ff, #009cff, #00b3ff, #00c6f5, #0cd7e8);
    clip-path: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
}
.blue-tag{
    font-size: 15px;
   color: blueviolet;
   font-family: 'oxanium';
   font-weight: 600;
   margin: 5px;
}
.white-tag{
    color: white;
    font-family: 'oxanium';
    font-weight: 600;
    font-size: 15px;
    margin: 5px;
}
.content-line{
        background: linear-gradient(90deg, rgba(152, 65, 255, 0.1) 0%, rgba(152, 65, 255, 1) 50%, rgba(152, 65, 255, 0.1) 100%);
       height: 3px;
       border: none;
       margin-top: 80px;
}

