.footer-full-container{
    width: 100%;
    margin: 0%;
    padding: 0%;
    margin-top: 100px;
}
.footer-width-container{
    width:90% ;
    margin-left: 5%;
    margin-right: 5%;

}
.footer-paragraph{
    color: white;
    font-size: 16px;
    font-family: 'oxanium';
    margin-top: 7px;
}
.footer-paragraphs{
    color: white;
    font-size: 16px;
    font-family: 'oxanium';
    margin-top: -12px;

}
.first-navbox{
    max-width: 280px;
    font-family: 'oxanium';
    
}
.icons{
    color: white;
    background-color: hsla(271, 76%, 33%,0.6);
    padding: 7px;
    clip-path: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
    margin-left: 8px;

}
.footer-title {
    color: white;
    font-size: 20px;
    position: relative; 
}


.footer-title::after { 
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 60%; 
    height: 4px;
    background-color: hsl(277, 81%, 56%);
    display: block; 
}
.link-tag{
    text-decoration: none;
    line-height: 1.7;
    color: white;
}
.purple-clr{
    color: blueviolet;
    font-weight: 600;
    margin-top: -10px;
}
.first-navbox{
    color: white;
}
.input-newsletter-email{
    background-color: rgb(30, 30, 76);
    color: white;
    border: none;
    padding: 15px;
    height: 26px;
    caret-color: none;
    width: 100%;
    margin-left: -11px;
    
}
.input-newsletter-email::placeholder{
    color: white;
}
.subscribe-btn{
    margin-left: -10px;
    height: 44px;
    padding: 8px;
    width: 145px;
    font-family: 'oxanium';
    padding-left: 30px;
    color: white;
    padding-right: 30px;
    border: none;
    margin-top: 20px;
    font-weight:700;
    font-size: 12px;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 15px, 100% 100%, 0 100%);

   background: linear-gradient( 165deg,rgb(255, 4, 255),hsl(280, 96%, 50%),rgb(50, 8, 240),rgb(86, 178, 248));

}
.subscribe-btn:hover{
    background: linear-gradient( 165deg,rgb(255, 4, 255),hsl(292, 85%, 64%),rgb(210, 19, 240),rgb(134, 18, 169));
    animation: clr 0.5s ease-out forwards;

}
@keyframes clr {
    0%{
            background: linear-gradient( 165deg,rgb(255, 4, 255),hsl(280, 96%, 50%),rgb(50, 8, 240),rgb(86, 178, 248));
    }
    100%{
        background: linear-gradient( 165deg,rgb(255, 4, 255),hsl(292, 85%, 64%),rgb(210, 19, 240),rgb(134, 18, 169));
    }
}
.copy-right{
    color: white;
    font-family: 'oxanium';
        background-color: hsla(240, 73%, 13%, 0.8);
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    padding: 23px;
    width: 30%;
    margin-top: 50px;
}