.prydesign-container{
    margin: 0%;
    padding: 0%;
    width: 100%;
    margin-top:40px ;
    position: relative;
}
.first-prybox{
  
    width: 80px;
    height: 20px;
    position: relative;
    clip-path:polygon(0 0, 100% 0, 100% calc(100% - 56px), calc(100% - 30px) 100%, 0 100%) ;
    background: linear-gradient( 165deg,rgb(255, 6, 255),hsl(275, 52%, 52%),hsl(241, 52%, 52%),rgb(86, 178, 248));
}

.third-prybox{
    position: relative;
    background: linear-gradient( 165deg,rgb(255, 6, 255),hsl(275, 52%, 52%),hsl(241, 52%, 52%),rgb(86, 178, 248));
    clip-path:polygon(0 0, 100% 0, 100% 100%, 30px 100%, 0 calc(100% - 56px)) ;
    width: 40px;
    height: 20px;
}
.behind-box{
    height: 34px;
    position: absolute;
    z-index: 1;
   clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 100% 0%, 100% 100%, 0% 100%);
   
    background: linear-gradient( 165deg,hsla(300, 100%, 51%,0.7),hsla(275, 52%, 52%,0.7),hsla(241, 52%, 52%,0.7),hsla(206, 92%, 65%,0.7));

}
.above-box{
    width: 140px;
    height: 60px;
    position: absolute;
    z-index: 2;
       clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 100% 0%, 100% 100%, 0% 100%);
    background: linear-gradient( 165deg,rgb(255, 6, 255),hsl(275, 52%, 52%),hsl(241, 52%, 52%),rgb(86, 178, 248));

}

.down-line{
    height: 5px;
    background-color: blueviolet;
    border: none;
    box-shadow: 2px 2px rgba(243, 159, 254,0.3);
    margin-top: -1px;
}