body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: hsl(240, 63%, 13%);
}

::-webkit-scrollbar{
  width: 8px;
  background-color: aliceblue;
}
::-webkit-scrollbar-thumb{
  background-color: blueviolet;
}
@font-face {
  font-family: 'Oxanium';
  src: url('./assets/fonts/Oxanium-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
}
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";



