.connect-fullcontainer{
   margin: 0%;
   padding: 0%;
   margin-top: 80px;
}
.connect-fullwidth{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}.connect-paragraph{
    font-size: 16px;
    color: aliceblue;
    font-family: 'oxanium';
    font-weight: 600;
}
.connect-btn{
  height: 55px;
  margin-top: 20px;
    padding: 20px;
    font-family: 'oxanium';
    padding-left: 40px;
    color: white;
    padding-right: 40px;
    border: none;
    font-weight:700;
    font-size: 14px;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 15px, 100% 100%, 0 100%);

   background: linear-gradient( 165deg,rgb(255, 4, 255),hsl(280, 96%, 50%),rgb(50, 8, 240),rgb(86, 178, 248));
   
 
}