.matches-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    position: relative;
    opacity: 0;
   transform: translateY(40px); 
   transition: all 2s ease-out;
}
.matches-div.show {
  opacity: 1;
  transform: translateY(0);
}

.matches-heading{
    font-family: "oxanium";
    font-weight: 600;
    color: white;
    width: 50%;
    margin-top: -10px;
  

}
.matches-heading p{
    color: blueviolet;
    display: inline;
}
.matches-paragraph{
    color: white;
    font-size: 15px;
    font-family: 'oxanium';
    margin-top: 7px;
}
.matches-paragraphs{
    color: white;
    font-size: 15px;
    font-family: 'oxanium';
    margin-top: -12px;

}