
.img-line{
    height: 3px;
    background-color: blueviolet;
    border: none;
    width: 90%;
    margin-top: 1px;
    box-shadow: 2px 2px 2px hsla(0, 0%, 100%, 0.2);
}

.shape-container{
    position: relative;
    width: 80%;
    height: 350px; 
    overflow: hidden; 

    display: flex;
    align-items: end;
}
.shape-1{
     background: linear-gradient(
        135deg, 
        #ff00f0 0%,     
        #00aaff 100%   
    );
    width: 190px;
    height: 170px;
    margin-left: 70px;
    z-index: 4; 
}
.shape-2{
      background: linear-gradient(
        135deg, 
        #9c27b0, 
        #2196f3  
    );
    width: 190px;
    height: 270px;
    margin-left: 130px;
    z-index: 3;
}
.shape-3{
     background: linear-gradient(
        135deg, 
        #ff00f0 0%,     
        #00aaff 100%   
    );
    width: 190px;
    height: 320px;
    margin-left: 230px;
    z-index: 4; 
}
.shape-4{
    background: linear-gradient(
        135deg, 
        #ff00f0 0%,     
        #00aaff 100%   
    );
    width: 190px;
    height: 240px;
    margin-left: 290px;
    z-index: 4; 
}
.shape{
     position: absolute;
    opacity: 0.7; 
    transform: skewX(20deg); 
    transform-origin: bottom right; 

}


.shapes-container{
    position: relative;
    width: 80%;
    height: 350px; 
    overflow: hidden; 
   
    display: flex;
    align-items: end;
    justify-content: end;
}
.shapes-1{
      background: linear-gradient(
        135deg, 
        #ff00f0 0%,     
        #00aaff 100%   
    );
    width: 190px;
    height: 170px;
    margin-right: 70px;
    z-index: 4; 
}
.shapes-2{
     background: linear-gradient(
        135deg, 
        #9c27b0, 
        #2196f3  
    );
    width: 190px;
    height: 270px;
    margin-right: 130px;
    z-index: 3;
}
.shapes-3{
      background: linear-gradient(
        135deg, 
        #ff00f0 0%,     
        #00aaff 100%   
    );
    width: 190px;
    height: 320px;
    margin-right: 230px;
    z-index: 4; 
}
.shapes-4{
     background: linear-gradient(
        135deg, 
        #ff00f0 0%,     
        #00aaff 100%   
    );
    width: 190px;
    height: 240px;
    margin-right: 290px;
    z-index: 4; 
}
.shapes{
     position: absolute;
    opacity: 0.7; 
    transform: skewX(-20deg); 
    transform-origin: bottom right; 

}

.pupg-overlay {
  position: absolute;
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%);
  width: 55%; 
  z-index: 10;
  pointer-events: none;
}


